<div class="row">
    <aside class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><%= @user.name %></h3>
            </div>
            <div class="card_body">
                <img class="rounded img-fluid" src="<%= gravatar_url(@user, {size:500}) %>" alt ="">
            </div>
            <ul>
                <%=link_to '編集', edit_user_path(@user), class: 'btn btn-primary'%>
                <%=link_to '退会', @user, method: :delete, data: {confirm: '本当に削除してよろしいですか?'}, class: 'btn btn-danger'%>
            </ul>
        </div>
    </aside>
    <div class= "col-sm-8">
        <ul style = "list-style: none;">
            <li><a href="#" class = "btn btn-secondary btn-block mt-3">旅行予定一覧</a></li>
            <li><a href="#" class = "btn btn-secondary btn-block mt-3">フォロワー一覧</a></li>
            <li><a href="#" class = "btn btn-secondary btn-block mt-3">フォロー一覧</a></li>
            <li><a href="#" class = "btn btn-secondary btn-block mt-3">いいね一覧</a></li>
        </ul>
    </div>
</div>