<h1>旅行の無駄を快適に</h1>
<h1>NoWasteTrip</h1>

<h3>予定を立てる</h3>
<p>旅行ごとに綿密な予定を立てることができます。</p>
<h3>日記をつける</h3>   
<p>旅行ごとに日記をつけることができます。</p>
<h3>予定を予定を参考にする</h3>
<p>他の人の予定を参考にすることができます。</p>

<%= link_to 'Signup', signup_path %>